main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid black;
    width: fit-content;
    background-color: rgba(148, 142, 142, 0.918);
}

button{
    background-color: white;
    padding: 10px 10px;
    border: 2px solid black;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: gray;
}

.calculator_buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 200px;
    margin-top: 20px;
}

input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 16px;
    text-align: right;
}